body{
	background-color: black;
}
#aoscont{
	overflow-x: hidden;
	padding-bottom: 100px;
}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.aos-all {
	max-width: 100% !important;
	width: 100% !important;
	width: 100vw !important;
	overflow: hidden;
	margin: 0;
}

/*---------------Navigation Bar------------------*/
#navul{
	float: right;
	min-width:60%;
	font-size: 23px;
	font-family: 'Dubai light';
	padding-top: 15px;
}
li{
	color: white;
}
label.logo{
	font-size: 250%;
	font-style: italic;
	font-weight: bold;
	color: white;
	margin: auto;
	padding-left: 30px;
	padding-bottom: 4px;
}
nav{
	background-color: black;
	position: fixed;
	width: 100%;
	z-index: 1;
	max-height: 65px;
}
a{
	color: #ffffff;
	transition: font-size .2s;
}
.checkbtn{
	font-size: 25px;
	color: white;
	float: right;
	padding-top: 7px;
	margin-right: 20px;
	cursor: pointer;
	display: none;
	z-index: 1;
}
#check{
	display: none;
}
#navli:hover{
	font-size: 25px;
}
#navli{
	list-style: none;
    float: right;
	min-height: 40px;
}
a:hover{
	text-decoration: none;
	color: #007bff;
}

/*----------------Feed typewriter----------------*/

#greetcont{
	font-family: 'tradegothiclt-bold', sans-serif;
 	padding-top: 130px;
 	text-align: center;
  	color: white;
}
#spanid {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/*----------------Feedback-----------------*/

#feedhead{
	padding-top: 30px;
	text-align: center;
}
#textarea{
	background-color: #0d0d0d;
	margin: 0 auto;
	border-radius: 10px;
	border-color: #000080;
	box-shadow: 0px 0px 30px 5px #000080;
}
#feeddiv{
	padding-top: 30px;
	display: flex;
	justify-content: center;
}
#feedform{
	padding-top: 45px;
	display: flex;
	justify-content: center;
}
#submitname{
	margin-left: 20px;
	margin-right: 70px;
	height: 40px;
	background-color: #0d0d0d;
	border-radius: 5px;
	border-color: #000080;
	box-shadow: 0px 0px 10px 7px #000080;
}
.btn:hover{
	background-color: #000080;
	box-shadow: 0px 0px 10px 7px #000080;
}

/*---------------Cont typewriter---------------*/

#contcont{
	font-family: 'tradegothiclt-bold', sans-serif;
 	padding-top: 70px;
 	text-align: center;
 	font-size: 2em;
  	color: white;
}
#spanid {
  border-right: .05em solid;
  animation: caret2 1s steps(1) infinite;
}

@keyframes caret2 {
  50% {
    border-color: transparent;
  }
}

/*--------------Horizontal line----------------*/

#conthr {
    margin: 0 auto;
    margin-top: 80px;
    width: 350px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0), rgba(255, 255, 255, 0.9), rgba(0, 0, 0));
}

/*---------------Contact-----------------*/

#conthead{
	padding-top: 30px;
	text-align: center;
}
#contform{
	margin-top: 45px;
	display: flex;
	justify-content: center;
}
#firstname, #lastname, #email{
	box-shadow: 0px 0px 7px 3px #000080;
	background-color: #0d0d0d;
	border-radius: 5px;
	border-color: #000080;
	margin-top: 15px;
	padding: 5px;
	width: 100%;
}
#firstname{
	margin-right: 20px;
}
#email{
	margin-bottom: 15px;
}
#phonelabel{
	min-width: 60px;
}
#phone{
	box-shadow: 0px 0px 7px 3px #000080;
	border-radius: 5px;
	border-color: #000080;
	background-color: #0d0d0d;
	padding: 5px;
	width: 100%;
	margin-left: 10px;
}
#messagearea{
	box-shadow: 0px 0px 7px 3px #000080;
	background-color: #0d0d0d;
	border-radius: 5px;
	border-color: #000080;
	margin-top: 15px;
}
#submitbtn{
	margin-top: 10px;
}


/*-----------------Footer------------------*/


hr{
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0), rgba(255, 255, 255), rgba(0, 0, 0));
}
footer{
	color: white;
	padding-top: 30px;
}
#addhead{
	text-align: center;
}
address{
	text-align: center;
}
#follow{
	text-align: center;
}
#social{
	padding: 10px;
}
#copyright{
	padding-top: 10px;
	font-family: OpenSans, Arial, sans-serif;
}


/*----------------Responsive Design below-----------------*/


@media screen and (max-width: 992px){
	
/*---------------Nav Bar--------------*/

	label.logo{
		display: none;
	}
	nav ul li a{
		font-size: 20px;
	}
	.checkbtn{
		display: block;
	}
	#nav{
		z-index: 0;
	}
	#navul{
		position: fixed;
		width: 110%;
		background: rgba(0, 0, 0, 0.8);
		top: -170px;
		left: 1.5%;
		float: left;
		transition: all .5s;
		padding-bottom: 0px;
		padding-left: 20px;
		padding-top: 0px;
		max-height: 200px;
		z-index: 0;
	}
	#navli{
		list-style: none;
		min-height: 40px;
		min-width: 200px;
	}
	li.a:hover{
		text-decoration: none;
		color: #007bff;
	}
	#check:checked ~ ul{
		top: 10px;
	}

/*------------------Footer--------------------*/

	#follow{
		padding-top: 15px;
	}
	#socialdiv{
		padding-bottom: 10px;
	}
	#copyright{
		padding-bottom: 20px;
	}
}


@media screen and (max-width: 432px){
	#greetcont, #contcont{
		font-size: 25px;
	}
	#greetcont{
		padding-top: 70px;
	}
	#submitname{
		margin-right: 30px;
	}
	#conthr{
		width: 60%;
	}
	#firstname, #lastname, #email{
		padding: 5px;

	}
	#firstname, #email, #phonelabel, #tndc, #messagearea{
		margin-left: 15px;
	}
	#firstname, #lastname{
		width: 160px;
	}
	#email{
		width: 345px;
	}
	#phone{
		width: 265px;
	}
	#messagearea{
		max-width: 340px;
	}
}