@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body{
	background: #000000;
	/*background: linear-gradient(to right top, #000080 50%, #000000 25%);
  	background: linear-gradient(45deg, #000000, #000080);*/
}
#aoscont{
	overflow-x: hidden;
	padding-bottom: 90px;
}

/*---------------Navigation Bar------------------*/

ul{
	float: right;
	min-width:60%;
	font-size: 23px;
	font-family: 'Dubai light';
	padding-top: 15px;
	z-index: 0;
}
label.logo{
	font-size: 250%;
	font-style: italic;
	font-weight: bold;
	color: white;
	margin: auto;
	padding-left: 30px;
	padding-bottom: 4px;
}
nav{
	background-color: black;
	position: fixed;
	width: 100%;
	z-index: 5;
	max-height: 65px;
}
a{
	cursor: pointer;
	color: #ffffff;
	transition: font-size .2s;
}
.checkbtn{
	color: white;
	float: right;
	padding-top: 7px;
	margin-right: 20px;
	cursor: pointer;
	display: none;
	z-index: 1;
}
#check{
	display: none;
}
li:hover{
	font-size: 25px;
}
li{
	list-style: none;
    float: right;
	min-height: 40px;
}
a#nav-home:hover, a#nav-about:hover, a#nav-contact:hover{
	color: #007bff;
}
a:hover{
	text-decoration: none;
	color: #007bff;
	transition: 0.4s;
}

/*-----------------Divs------------------*/

#myimg{
	transition: all 0.4s;
	width: 300px;
	height: 300px;
	border-radius: 50%;
}
#myimg:hover{
	transition: all 0.4s;
	width: 315px;
	height: 315px;
}
#div1{
	padding-top: 150px;
}
h1{
	font-size: 40px;
	font-family:  Droid Serif, sans-serif;
}
.ml10 .letter{
	display: inline-block;
	transform-origin: 0 0;
}
h2{
	font-size: 28px;
}
.description{
	animation: fadeInUp 2s;
}
@keyframes fadeInUp {
	from { opacity: 0; transform: translate3d(0, 20px, 0); }
	to { opacity: 1; transform: none; } 
}
.fadeInUp{ 
	animation-name: fadeInUp;
}
p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
}
#div2{
	padding-top: 100px;
}
#downloadbtn{
	transition: 0.2s;
}
#downloadbtn:hover{
	background-color: #000080;
	box-shadow: 0px 0px 10px 7px #000080;
	transition: 0.2s;
}


/*-----------------Footer------------------*/


hr{
	width: 90%;
	height: 1px;
	background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0), rgba(255, 255, 255), rgba(0, 0, 0));
	background-image: -o-linear-gradient(to right, rgba(0, 0, 0), rgba(255, 255, 255), rgba(0, 0, 0));
	background-image: -moz-linear-gradient(to right, rgba(0, 0, 0), rgba(255, 255, 255), rgba(0, 0, 0));
	background-image: linear-gradient(to right, rgba(0, 0, 0), rgba(255, 255, 255), rgba(0, 0, 0));
}
footer{
	color: white;
	padding-top: 30px;
}
#addhead{
	text-align: center;
}
address{
	text-align: center;
}
#follow{
	text-align: center;
}
#social{
	padding: 10px;
}
#copyright{
	padding-top: 10px;
	font-family: OpenSans,Arial,sans-serif;
}


/*--------------------------------Responsive Design below-----------------------------------------*/


@media screen and (max-width: 992px){
	
/*---------------Nav Bar--------------*/

	label.logo{
		display: none;
	}
	nav ul li a{
		font-size: 20px;
	}
	.checkbtn{
		display: block;
	}
	ul{
		position: absolute;
		width: 110%;
		background: rgba(0, 0, 0, 0.8);
		top: -170px;
		left: 1.5%;
		float: left;
		transition: all .5s;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 20px;
		max-height: 200px;
	}
	li{
		list-style: none;
		min-height: 40px;
		max-width: 200px;
	}
	li.a:hover{
		text-decoration: none;
		color: #007bff;
	}
	#check:checked ~ ul{
		top: 10px;
	}

/*-----------------Divs-----------------*/


	#div1{
		padding-top: 100px;
	}
	#myimg{
		width: 200px;
		height: 200px;
	}
	#myimg:hover{
		width: 200px;
		height: 200px;
	}
	h1{
		font-size: 30px;
		text-align: center;
	}
	h4{
		font-size: 20px;
		text-align: center;
	}
	h2{
		font-size: 23px;
		text-align: center;
	}
	p{
		text-align: center;
	}
	#headtext{
		padding-top: 30px;
	}

/*------------------Footer--------------------*/


	#follow{
		padding-top: 15px;
	}
	#socialdiv{
		padding-bottom: 10px;
	}
	#copyright{
		padding-bottom: 20px;
	}
}
@media screen and (max-width: 432px){
	#div1{
		padding-top: 70px;
	}
}



