body{
	background-color: white;
}

/*---------------Navigation Bar------------------*/
ul{
	float: right;
	min-width:60%;
	font-size: 23px;
	font-family: 'Dubai light';
	font-weight: bold;
	padding-top: 20px;
}
label.logo{
	font-size: 300%;
	font-style: italic;
	font-weight: bold;
	color: white;
	margin: auto;
	padding-left: 30px;
	padding-bottom: 4px;
}
nav{
	background-color: black;
	position: fixed;
	width: 100%;
	z-index: 1;
}
a{
	color: #ffffff;
	transition: font-size .2s;
}
.checkbtn{
	float: right;
	padding-top: 7px;
	margin-right: 20px;
	cursor: pointer;
	z-index: 1;
	display: none;
}
#check{
	margin: 25px;
	padding: 20px;
	size: 20px;
	display: none;
}
li:hover{
	font-size: 25px;
}
li{
	list-style: none;
    float: right;
}
a:hover{
	text-decoration: none;
	color: #007bff;
}

/*----------------Responsive Design below-----------------*/


@media screen and (max-width: 992px){
	
/*---------------Nav Bar--------------*/

	label.logo{
		font-size: 30px;
		padding-top: 8px;
		padding-left: 20px;
	}
	nav ul li a{
		font-size: 24px;
	}
	.checkbtn{
		display: block;
	}
	nav{
		z-index: 1;
	}
	ul{
		position: fixed;
		width: 110%;
		background: rgba(44, 62, 80, 0.8);
		top: 60px;
		left: 104%;
		float: left;
		transition: all .5s;
		padding-bottom: 900px;
		padding-left: 20px;
	}
	li{
		list-style: none;
		min-height: 67px;
		max-width: 200px;
	}
	li:hover{
	font-size: 27px;
	}
	a:hover{
		text-decoration: none;
		color: #007bff;
	}
	#check:checked ~ ul{
		left: 1.5%;
	}

